@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@400;600;700;900&family=Open+Sans:wght@300;400;700&family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
font-family: 'Outfit', sans-serif;*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 100px 0;
  background-color: #064e3b;
}

#title-sec {
  background-color: radial-gradient(circle, #064e3b, #ffc300);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  /* justify-content: ; */
  margin-bottom: 40px;
  align-items: center;
}

#title-sec p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

#title-sec h1 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.testimoni-link {
  border: 1px;
  justify-content: space-between;
  display: flex;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border-radius: 13px;
  background-color: #065f46;
  padding: 15px;
  margin-top: 20px;
}
#product {
  margin: 0px 160px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* justify-content: space-evenly; */
  /* gap: 21px; */
  place-items: center;
}

#product img {
}
#product p {
  /* margin-top: 20px; */
  font-family: "Inter", sans-serif;
}

.isi {
  /* display: flex; */
  /* gap: 10px; */
  font-family: "Outfit", sans-serif;
  flex-direction: row;
}
.isi p {
  margin-top: 20px;
  font-weight: 400;
  line-height: 22.4px;
  font-size: 16px;
}
.isi h3 {
  font-size: 24px;
  font-weight: 700;
}
.descnprice {
  /* margin-top: 20px; */
  gap: 55px;
  display: flex;
  align-items: center;
}
.descnprice #price {
  margin-top: 20px;
  font-weight: 700;
  color: #fde68a;
  font-size: 20px;
  /* font-family: "Inter", sans-serif; */
}
.img-container {
  /* padding: 10px; */
  margin: 90px 0 0 0;
  /* overflow: hidden; */
}
.img-container img {
  width: 500px;
  /* position: absolute; */
  height: 380px;
  object-fit: cover;
  /* display: block; */
  border-radius: 40px;
}

#promo {
  border-radius: 32px;
  width: 868px;
  height: 421px;
  display: flex;
  background-color: #ecfdf5;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
  padding: 100px;
  /* justify-content: space-around; */
}
#promo p {
  color: #047857;
  padding-bottom: 20px;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}

#promo h1 {
  text-align: center;
  font-size: 46px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
.kupon {
  margin: 0 10px;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  font-family: "Outfit", sans-serif;
}
#email {
  font-weight: 400;
  text-align: center;
  width: 405px;
  font-size: 16px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #059669;
}

.takekupon {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  line-height: 56px;
  width: 167px;
  height: 56px;
  background-color: #34d399;
}

#klik{
  cursor: pointer;
}

@media (max-width: 600px) {
  *{
    margin: 0;
padding: 0;
box-sizing: border-box;
  margin: 0;
  
}

body{
  overflow-x: hidden;
}

#product{
  display: flex;
  flex-direction: column;
}
}